{% extends "layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-11">
                <form class="navbar-form navbar-left form-inline" role="search" action="{{ url_for('search') }}" method="post">
                    <div class="form-group">
                        <input id="search" type="text" class="form-control" name="search" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="col-1">
                <form action="{{ url_for('index') }}" method="post">
                    <div class="form-group">
                        <button class="btn btn-danger">Logout</button>
                    </div>
                </form>
            </div>
        </div>

        {% if failed_search %}
            <div class="row">
                {{ message }}
            </div>
        {% endif %}

        {% if search_success %}
            <table class="table table-striped">
                <thead>
                    <th scope="col">Zipcode</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr>
                        <th scope="row">{{ location.zipcode }}</th>
                        <td>{{ location.city }}</td>
                        <td>{{ location.state }}</td>
                        <td><a href="{{ url_for('location', zipcode=location.zipcode) }}" class="btn btn-info" role="button">More Info</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}